        <section id="footer-base">
            <div class="container-footer-base">
                <div class="button-Profile">
                    <div class="position-right">
                        <a class="button-contactme" href=<%= link_1[0] %>><%= link_1[1] %></a>
                    </div>
                    <div class="position-left">
                        <a class="button-aboutme" href=<%= link_2[0] %>><%= link_2[1] %></a>
                    </div>
                    
                </div>

                <footer>
                    <p>Hubert Wu © <%= new Date().getFullYear() %></p>
                    <div>
                        <img class="robot-footer" src="./images/robot-2.png" alt="robot">
                    </div>
                </footer>

            </div>
        </section>
    </main>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.js" integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
    <script src="index.js" charset="UTF-8"></script>
</body>
</html>


